body {
  background-color: white;
}

.z-depth- {
  color: #7295b0;
}

#h,
#am,
#mw,
#o,
#cm {
  color: white;
}

.brand-logo:hover {
  color: black;
  text-decoration: none;
}

#h:hover,
#am:hover,
#o:hover,
#mw:hover,
#cm:hover {
  color: black;
  text-decoration: none;
  background-color: #7295b0;
}

.vl {
  border-left: 1px solid gray;
  height: 200px;
  margin-left: 150px;
  top: 0;
}
